body {
  background: black; }
  body * {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    font-family: 'VT323', sans-serif;
    color: white; }

.button {
  font-size: 1.25em;
  border: 1px solid white;
  padding: 0.25em 0.5em 0.4em 0.5em; }
  .button:hover {
    color: black;
    background-color: white; }

section#display {
  width: 160px;
  height: 80px;
  margin: 0 auto;
  background: url(img/bg.png) center center no-repeat;
  background-size: cover; }

section#interface {
  text-align: center; }

@keyframes monster-ready {
  0% {
    background-position-y: 0; }
  50% {
    background-position-y: 100%; }
  100% {
    background-position-y: 100%; } }
.monster {
  display: block;
  width: 48px;
  height: 72px;
  position: relative;
  top: 4px;
  left: 56px;
  animation: monster-ready 1.5s steps(1, end) infinite; }
  .monster.Axedude {
    background: url("img/monsters/Axedude.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(60deg) saturate(100%) brightness(86); }
  .monster.Snek {
    background: url("img/monsters/Snek.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(120deg) saturate(100%) brightness(9.9978777393); }
  .monster.Weregoat {
    background: url("img/monsters/Weregoat.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(0deg) saturate(0%) brightness(255); }
  .monster.Scamp {
    background: url("img/monsters/Scamp.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(120deg) saturate(100%) brightness(9.6193771626); }
  .monster.Gooball {
    background: url("img/monsters/Gooball.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(300deg) saturate(100%) brightness(1.1692733564); }
  .monster.Wiz {
    background: url("img/monsters/Wiz.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(240deg) saturate(100%) brightness(1); }
  .monster.Skelebones {
    background: url("img/monsters/Skelebones.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(0deg) saturate(0%) brightness(33.5014532872); }
