body {
  background: black; }
  body * {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    font-family: 'VT323', sans-serif;
    color: white; }

.button {
  font-size: 1.25em;
  border: 1px solid white;
  padding: 0.25em 0.5em 0.4em 0.5em; }
  .button:hover {
    color: black;
    background-color: white; }

section#display {
  width: 160px;
  height: 80px;
  margin: 0 auto;
  background: url(img/bg.png) center center no-repeat;
  background-size: cover; }

section#interface {
  text-align: center; }

.monster {
  display: block;
  width: 48px;
  height: 72px;
  position: relative;
  top: 4px;
  left: 56px; }
  .monster.monster.Axedude {
    background: url("img/monsters/Axedude.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(60deg) saturate(100%) brightness(86); }
  .monster.monster.Snek {
    background: url("img/monsters/Snek.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(120deg) saturate(100%) brightness(9.9978777393); }
  .monster.monster.Weregoat {
    background: url("img/monsters/Weregoat.png") 0px 0px no-repeat;
    background-size: cover;
    -webkit-filter: hue-rotate(240deg) saturate(100%) brightness(1); }
