// @mixin monsters($monster-color-map){
// 	@each $monster-name, $color in $monster-color-map{
// 		.monster.#{$monster-name}{
// 			background: url('img/monsters/#{monster-name}.png') 0px 0px no-repeat;
// 			-webkit-filter: hue-rotate(hue($color));
// 		}
// 	}
// }

$monster-color-map:(
	Axedude: yellow,
	Snek: green,
	Weregoat: white,
	Scamp: darkgreen,
	Gooball: purple,
	Wiz: blue,
	Skelebones: gray
);

@keyframes monster-ready {
	0% { background-position-y: 0;}
	50% { background-position-y: 100%;}
	100% { background-position-y: 100%;}
}

.monster{
	display: block;
	width: 48px;
	height: 72px;
	position: relative;
	top: 4px;
	left: 56px;

	animation: monster-ready 1.5s steps(1, end) infinite;

	@each $monster-name, $color in $monster-color-map{
		&.#{$monster-name}{
			background: url('img/monsters/#{$monster-name}.png') 0px 0px no-repeat;
			background-size: cover;
			$total-value: (red($color) + blue($color) + green($color));
			$brightness: abs((14/21675)*($total-value * $total-value) - (41/255) * $total-value);
			// Ugh. This is a quadratic equation needed b/c we are modifing the base color red.
			-webkit-filter: hue-rotate(hue($color)) saturate(saturation($color)) brightness($brightness);
		}
	}
}